<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finacne.modules.user.mapper.UserRoleMapper">
  <resultMap id="BaseResultMap1" type="com.finacne.modules.user.entity.UserRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_role_id" jdbcType="BIGINT" property="userRoleId" />
    <result column="user_uuid" jdbcType="BIGINT" property="userUuid" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

</mapper>